/* theme.css */
/* Global theme variables */
:root {
  --primary: #000000;
  --secondary: #9d4edd;
  --accent: #c77dff;
  --background: #fff;
  --card-bg: #f8f8ff;
  --text: #000;
  --button-bg: #9d4edd;
  --button-hover: #c77dff;
  --transition: background 0.3s, color 0.3s;
  --brandtitle: linear-gradient(135deg, #9d4edd, #c77dff,black);
  --shadow-color: rgb(170 143 143 / 34%);
}

.theme-dark {
  --primary: #ffffff;
  --secondary: #c77dff;
  --accent: #e0aaff;
  --background: #18122B;
  --card-bg: #231942;
  --text: #fff;
  --button-bg: #c77dff;
  --button-hover: #e0aaff;
  --brandtitle: linear-gradient(135deg, #9d4edd, #c77dff,white);
  --shadow-color: #9100ff;
}

body, html {
  background: var(--background);
  color: var(--text);
  transition: var(--transition);
}
